* {
    box-sizing: border-box;
    font-family: 'Audiowide', cursive;    
}
 
 html, body {
    height: 100vh;
    margin: 0;
}

.mainBod {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px dashed red;
    text-align: center;
    box-shadow: inset 0 0 35px black;
}

.mainImg {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    height: 100vh;
    opacity: 0.4;
}

.cover-container {
    background-image: -webkit-linear-gradient(red, white);
    border-radius: 20px;
    box-shadow: 0 0 20px black;
    z-index: 2;

}

.cover-heading {
    position: relative;
    z-index: 2;
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 100px;
    color: yellow;
    -webkit-text-stroke: 2px red;
    text-shadow: 0 0 20px black;
}

.btn {
    position: relative;
    z-index: 2;
    box-shadow: 0 0 20px black;
}

.btn:hover {
    background-color: white;
    color: red;
}

footer p {
    position: relative;
    z-index: 2;
    color: yellow;
    -webkit-text-stroke: 1px red;
    font-size: 25px;
    text-align: center;
}


/* ==== Game.html ====*/

#wrapper {
    text-align: center;
    border: 10px dashed red;
}

h2 {
    margin: 20px;
    text-shadow: 0 0 5px black;
}

.btn-danger {
    margin: 30px 0;
}

table {
    background-color: yellow;
    margin: 0 auto;
    padding: 30px auto;
    border: 1px solid black;
    box-shadow: 0 0 10px black;
}

tr.row {
    display: flex;
    margin: 0 auto;
}
  
tr.row td {
    height: 75px;
    width: 80px;
    border-radius: 50%;
    margin: 5px;
    background-color: white;
    display: inline-block; 
    box-shadow: 0 0 8px black;
}
  
.newmove:hover {
    background-color: red !important;
    opacity: 0.5;
    cursor: pointer;
}

.newmove2:hover {
    background-color: black !important;
    opacity: 0.5;
    cursor: pointer;
}

@media (max-width: 700px) {
    .cover-container {
        width: 85%;
    }

    .cover-heading {
        font-size: 50px;
    }

    #wrapper {
        border-top: 10px dashed red;
        border-bottom: 10px dashed red;
        border-right: none;
        border-left: none;
    }

    table {
        width: 395px;
    }

    tr.row td {
        height: 45px;
        width: 46px;
    }

    .footOne p {
        font-size: 25px;
    }

    .footTwo p {
        font-size: 20px;
    }
}