body {
    background-color: black;
    font-family: 'Love Ya Like A Sister', cursive;
}

#wrapper {
    width: 85%;
    background-color: steelblue;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 30px white;
}

h1 {
    font-family: 'Love Ya Like A Sister', cursive;
    text-align: center;
    font-size: 60px;
    text-shadow: 0 0 10px black;
    color: white;
    margin: 10px 20px;
    /* -webkit-text-stroke: 1px black; */
}

table {
    border-collapse: collapse;
    margin: 50px auto;
}

td {
    font-size: 40px;
    border: 1px solid black;
    padding: 15px;
    height: 95px;
    width: 95px;
    text-align: center;
    box-shadow: 0 0 10px black;
}

td:hover {
    background-color: floralwhite;
    opacity: .5;
    
}

#turn {
    font-size: 30px;
    color: white;
    font-family: 'Love Ya Like A Sister', cursive;
    text-align: center !important;
}